{% extends 'base.html' %}
{% block head %}
    {{ block.super }}
    <style>
        .media {
            width: 100%;
        }

        .media .media-filename {
            text-decoration: underline;
            text-decoration-color: #3273dc;
        }
    </style>
{% endblock head %}
{% block content %}
    <div id="browse" class="card">
        <div class="card-header">
            <div class="is-flex is-align-content-end" style="width: 100%;">
                <div>
                    <p class="card-header-title">
                        {{ directory.path }}
                    </p>
                    <span class="pl-1" style="font-weight: 400; font-style: italic; font-size: 70%;">
                        {{ files|length }} files
                    </span>
                </div>
                <div style="vertical-align: middle;">
                    <span class="icon">
                        <a href="{% url 'index' %}">
                            <i class="fas fa-arrow-up" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="icon">
                        <a href="{% url 'refresh' directory.id %}">
                            <i class="fas fa-sync"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="content">
                {% for directory in directories %}
                    <div>
                        <span class="icon">
                            <i class="fas fa-folder"></i>
                        </span>
                        <a href="{% url 'add' %}?path={{ file.fullpath }}">
                            {{ directory }}
                        </a>
                    </div>

                {% endfor %}
                {% for file in files %}
                    <div class="media">
                        {% load static %}
                        <img class="px-2" loading="lazy" src="{% static file.thumbnail_static_path %}">
                        <span class="media-filename">
                            <a href="{% url 'file' directory.id file.filename %}">
                                {{ file.filename }}
                            </a>
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="{% static "hover.js" %}"></script>
{% endblock content %}
