{% extends 'base.html' %}
{% block head %}
    {{ block.super }}
    <style>
        .card {
            top: 50%;
        }

        .card-content {
            padding: 1.25rem;
        }
    </style>
{% endblock head %}
{% block content %}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Confirm Deletion
            </p>
            <span class="card-header-icon has-text-primary">
              <span class="icon">
                <i class="fas fa-question" aria-hidden="true"></i>
              </span>
            </span>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Are you sure you want to remove this directory from the file server?
                    {% load humanize %}
                    <a href="{% url 'browse' directory.id %}"><code>{{ directory.path }}</code></a> contains <b
                        class="has-text-primary">{{ num_files|intcomma }}</b> files.
                    <p class="help my-0">
                        Note: This does <b>not</b> delete any of your files. This will only clear the thumbnail cache
                        and database of associated files.
                    </p>
                </p>
            </div>
        </div>
        <footer class="card-footer">
            <a href="{% url 'index' %}" class="card-footer-item">Cancel</a>
            <a href="{% url 'confirm_delete' directory.id %}" class="card-footer-item">Delete</a>
        </footer>
    </div>
{% endblock content %}
