{% extends 'base.html' %}
{% block content %}
    <div class="panel">
        <div class="panel-heading">Directories</div>
        {% if directories|length > 0 %}
            {% for served_directory in directories %}
                <div class="panel-block is-flex">
                    <span class="panel-icon is-align-self-flex-start">
                        <i class="fas fa-folder fa-lg" aria-hidden="true"></i>
                    </span>
                    <a href="{% url 'browse' served_directory.id %}" class="is-align-self-flex-end">
                        {{ served_directory.path }}
                        {% if served_directory.regex %}
                            <span class="tag is-primary">Filtered</span>
                        {% endif %}
                    </a>
                    <a href="{% url 'delete' served_directory.id %}">
                        <span class="icon has-text-danger">
                            <i class="fas fa-times fa-lg" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="panel-block">
                <p>
                    No directories available.
                </p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
